// GLOBAL
$transition: 120ms;
$finger-size: 46px;
$border-radius: 6px;

// COLOR
$color-primary: #ade;
$color-success: #1ecf72;
$color-warning: #fc7a5d;
$color-dark: #323232;
$color-light: #777;

// FONT
$font-family-fallback: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-title: 'Roboto Condensed', $font-family-fallback;
$font-family-body: 'Roboto', $font-family-fallback;
$font-line-height: 1.4;
$font-size-normal: 16px;
$font-title-weight-normal: 400;
$font-body-weight-bold: 700;
