// GLOBAL
$transition: 120ms;
$finger-size: 38px;
$border-radius: 5px;

// COLOR
$color-primary: #ade;
$color-success: limegreen;
$color-warning: red;
$color-dark: #323232;
$color-light: #777;

// FONT
$font-family-fallback: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-title: 'Roboto Condensed', $font-family-fallback;
$font-family-body: 'Roboto', $font-family-fallback;
$font-line-height: 1.4;
$font-size-normal: 16px;
$font-title-weight-normal: 400;
$font-body-weight-bold: 700;
